
* {
  box-sizing:       border-box;
  margin:           0;
  border:           0;
  padding:          0;
  font-family:      'Lucida Sans Unicode', 'Lucida Grande', 'Trebuchet MS', Helvetica, Verdana, Geneva, Calibri, sans-serif;
}

body > div > * {
  margin:           0;
  border:           0;
  padding:          0.25em 8rem;
}

code {
  font-family: monospace;
}

[data-apiary] {
  background-color: #ffe0e0;
}

.apiary-done {
  background-color: #e0ffe0;
}
